html{
    font-size: 62.5%;
}

h1 {
    font-size: 12rem;
    font-family: "Arial Black", sans-serif;
    color: #AC3B61;
    text-align:center;
}

p {
    font-size: 2rem;
}

button {
    background-color: #123C69;
    color: #EEE2DC;
}

* {
    box-sizing: border-box;
  }

  .box {
    float: left;
    width: 25%;
    padding: 50px;
  }
  
  .clearfix::after {
    color: #EDC787;
    content: "";
    clear: both;
    display: table;
  }