html{
    font-size: 62.5%;
}

h1 {
    font-size: 10rem;
    font-family: "Arial Black", sans-serif;
    color: #AC3B61;
    text-align:center;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BAB2B5;
    color: #123C69;
    padding: 5px 20px;
    border-radius: 2rem;
    max-width: 100%;
    text-align:center;
    vertical-align: middle;
    font-size: relative;
    width: auto;
}

.button:hover {
    background-color: #EDC7B7;
    color: #123C69;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.24), 0 1rem 2rem 0 rgba(0,0,0,0.19);
  }

* {
    box-sizing: border-box;
  }

  .box {
    background-color: #123C69;
    float: left;
    width: 25%;
    padding: 2rem;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }





p {
    font-size: 2rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #123C69;
}

image {
    float: right;
    width: 100%;    
    height: auto;
}

h2 {
    font-size: 5rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #123C69;
}

.aboutme {
    border-style: solid;
    border-color: #123C69;
    border-width: 0.5rem;
}

.bio {
    width: 100%;    
    height: auto;
}